# Calendar (skdev18000)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
# openssl rand -hex 32 -> use this command to geenrate the encryption key and auth secret
ENCRYPTION_KEY=""
AUTH_SECRET=""

# Supabase
DATABASE_URL="postgresql://postgres.uemnutvbibbsurxvlxuo:[password]@aws-1-us-east-1.pooler.supabase.com:6543/postgres"
DIRECT_URL=""

NEXT_PUBLIC_APP_URL=""

# Supabase
